#navbar{
height: 5vh;
background-color: rgb(255, 95, 108);
}
#username{
color: white;
text-align: right;
padding: 1.54vh;
font-size: 1em;
float: right;
}
#iconpic{
    width: auto;
    height: 90%;
    padding-left: 1vw;
    padding-top: 0.4vh;
    float: left;
}